In [10]:
import glob
import os
import pandas as pd
import numpy as np

In [18]:
photos = glob.glob("/mnt/pentagon/Sketchy/test/photo/*.jpg")
sketches = glob.glob("/mnt/pentagon/Sketchy/test/sketch_with_keypoint/*.jpg")
photos = [os.path.basename(x) for x in photos]
sketches = [os.path.basename(x) for x in sketches]

In [ ]:
photos = pd.DataFrame(photos, columns=["photo"])
photos
photos[["class", "photo_idx"]] = photos["photo"].str.split("_")

In [16]:
photos

                       0
0        windmill_84.jpg
1       saxophone_92.jpg
2     alarm_clock_85.jpg
3          pistol_92.jpg
4            duck_81.jpg
...                  ...
2495       racket_94.jpg
2496   eyeglasses_80.jpg
2497       rocket_83.jpg
2498         shoe_80.jpg
2499       hammer_82.jpg

[2500 rows x 1 columns]